<html>
 <head>
    <title>CIA Data Vis Project</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!--Nootstrap and my own CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css" />
    <!--JQuery and Bootstratp JS-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
 </head>

<body ng-app="myApp" ng-controller="BaseController as base">
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">The CIA Data Vis Project</a>
    </div>
   <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Scatterplot</a></li>
        <li><a href="/territories">Territories</a></li>
        <li><a href="/rankings">Rankings by Category</a></li>
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sources<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.cia.gov/library/publications/the-world-factbook/" target="_blank">CIA World Factbook</a></li>
            <li><a href="https://github.com/factbook/factbook.csv" target="_blank">Open World Database (csv data)</a></li>
            <li><a href="https://www.wikipedia.org/" target="_blank">Wikipedia Creative Commons (maps)</a></li> 
          </ul>
        </li>
     </ul>
    </div>
  </div>
</nav>

<container>
 <div class="row">
  <div class="col-md-8 col-xs-12">
   <div id="chart"></div>
  </div>

  <div class="col-md-4 col-xs-12 chart-description">
   <div id="scatterplot-intro">
    <p>The CIA created the <a href="https://www.cia.gov/library/publications/the-world-factbook/" target="_blank">World Factbook</a> as a classified document in 1962. They released it to the public in 1971, and it's now one of the leading sources of statistics on each of the world's 195 sovereign nations and 59 dependent territories. This website is a visualization of that data. </br></br>Use the scatterplot diagram on this page to explore correlations between different statistical categories (there are 136 possible combinations). Follow the Territories link to learn which nations own the richest dependencies. Or go to the Rankings section to find all of the data in a single, sortable table, with details on how the CIA crunched the numbers.</p>
   </div>
   
<!--Hidden buttons for mobile display-->
   <div id="mobile-intro">
    <button class="btn btn-default btn-sm" id="mobile-about-button">About</button>
    <button class="btn btn-default btn-sm" id="mobile-close-button">Close</button>
   </div>


   <div id="scatterplot-dropdown">
    <form role="form" id="target">
     <div class="form-group">
      <label for="sel1">Choose an X Axis:</label>
      <select class="form-control" id="xOptions">
       <option value="Area">Area</option>
       <option value="Population">Population</option>
       <option value="Population Growth">Population Growth</option>
       <option value="Net Migration Rate">Migration</option>
       <option value="Infant Mortality Rate">Infant Mortality</option>
       <option value="Life Expectancy">Life Expectancy</option>
       <option value="Health Expenditures">Health Expenditures</option>
       <option value="Obesity Rate">Obesity Rate</option>
       <option value="Per Capita GDP">Per Capita GDP</option>
       <option value="Unemployment Rate">Unemployment Rate</option>
       <option value="Budget Deficit or Surplus">Budget Deficit/Surplus</option>
       <option value="External Debt">External Debt</option>
       <option value="Military Expenditures">Military Expenditures</option>
       <option value="Education Expenditures">Education Expenditures</option>
       <option value="Fossil Fuel Use">Electricty from Fossil Fuels</option>
       <option value="Internet Use">Internet Use</option>
       <option value="Airports">Number of Airports</option>
      </select>
      <label for="sel2">Choose a Y Axis</label>
      <select class="form-control" id="yOptions">
       <option value="Area">Area</option>
       <option value="Population">Population</option>
       <option value="Population Growth">Population Growth</option>
       <option value="Net Migration Rate">Migration</option>
       <option value="Infant Mortality Rate">Infant Mortality</option>
       <option value="Life Expectancy">Life Expectancy</option>
       <option value="Health Expenditures">Health Expenditures</option>
       <option value="Obesity Rate">Obesity Rate</option>
       <option value="Per Capita GDP">Per Capita GDP</option>
       <option value="Unemployment Rate">Unemployment Rate</option>
      <option value="Budget Deficit or Surplus">Budget Deficit/Surplus</option>
      <option value="External Debt">External Debt</option>
      <option value="Military Expenditures">Military Expenditures</option>
      <option value="Education Expenditures">Education Expenditures</option>
      <option value="Fossil Fuel Use">Electricty from Fossil Fuels</option>
      <option value="Internet Use">Internet Use</option>
      <option value="Airports">Number of Airports</option>
      </select>
     </div>
   <button type="submit" class="btn btn-default">Submit</button>
  </form>
  </div><!--close dropdown section-->
 </div>
</div><!--close row-->


</container>
 
 <script type="text/javascript" src="js/angular.js"></script>
 <script type="text/javascript" src="js/app.js"></script>
 <script type="text/javascript" src="js/nations.js"></script>
 <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
 <script src="js/chart.js"></script>

</body>
</html>