<html>
    <head>
          <title>583 Final Project</title>
<link rel="stylesheet" href="css/styles.css" />
    </head>
    
<body>
        
  <h1>Hello, Headaches!</h1>
  

  

<div ng-repeat="seat in seatCtrl.seats">
    <ul>
        <li>{{seat.state}}</li>
    </ul>
</div>



<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/seats.js"></script>
    </body>
</html>