<html>
    <head>
          <title>583 Final Project</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="css/styles.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>

<body ng-app="myApp" ng-controller="BaseController as base">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">The CIA Data Vis Project</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Scatterplot</a></li>
        <li><a href="/territories">Territories</a></li>
        <li class="active"><a href="/rankings">Rankings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a>About</a></li>
      </ul>
    </div>
  </div>
</nav>

<container>
<div class="row">
 <div class="col-xs-12" id="rankings-header">
 <div id="rankings-intro-section">
 <h2>Rankings by Category</h2>
 <p id="rankings-introduction">This table ranks the 236 permanently inhabited nations and territories in the CIA World Factbook according to various statistics, such as infant mortality rate and internet use. Hover over the column headings for an explanation of each category, and click the buttons to sort the data.</p>
 </div>
 
<div id="appendix-population">
 <h2>Population</h2>
<p>This World Factbook entry gives an estimate from the US Bureau of the Census based on statistics from population censuses, vital statistics registration systems, or sample surveys pertaining to the recent past and on assumptions about future trends. The total population presents one overall measure of the potential impact of the country on the world and within its region.</p>
</div>

<div id="appendix-pop-growth">
    <h2>Population Growth</h2>
<p>The average annual percent change in the population, resulting from a surplus (or deficit) of births over deaths and the balance of migrants entering and leaving a country. The rate may be positive or negative. The growth rate is a factor in determining how great a burden would be imposed on a country by the changing needs of its people for infrastructure (e.g., schools, hospitals, housing, roads), resources (e.g., food, water, electricity), and jobs. Rapid population growth can be seen as threatening by neighboring countries.</p>
</div>

<div id="appendix-migration">
    <h2>Net Migration Rate</h2>
<p>This entry includes the figure for the difference between the number of persons entering and leaving a country during the year per 1,000 persons (based on midyear population). An excess of persons entering the country is referred to as net immigration (e.g., 3.56 migrants/1,000 population); an excess of persons leaving the country as net emigration (e.g., -9.26 migrants/1,000 population). The net migration rate indicates the contribution of migration to the overall level of population change. The net migration rate does not distinguish between economic migrants, refugees, and other types of migrants nor does it distinguish between lawful migrants and undocumented migrants.</p>
</div>

<div id="appendix-infant">
    <h2>Infant Mortality Rate</h2>
<p>This entry gives the number of deaths of infants under one year old in a given year per 1,000 live births in the same year. This rate is often used as an indicator of the level of health in a country.</p>
</div>

<div id="appendix-life">
    <h2>Life Expectancy at Birth</h2>
<p>This entry contains the average number of years to be lived by a group of people born in the same year, if mortality at each age remains constant in the future. Life expectancy at birth is also a measure of overall quality of life in a country and summarizes the mortality at all ages. It can also be thought of as indicating the potential return on investment in human capital and is necessary for the calculation of various actuarial measures.</p>
</div>

<div id="appendix-obesity">
    <h2>Obesity - Adult Prevalence Rate</h2>
<p>This entry gives the percent of a country's population considered to be obese. Obesity is defined as an adult having a Body Mass Index (BMI) greater to or equal to 30.0. BMI is calculated by taking a person's weight in kg and dividing it by the person's squared height in meters.</p>
</div>

<div id="appendix-GDP">
    <h2>GDP - Purchasing Power Parity, Per Capita</h2>
<p>The gross domestic product (GDP) is the value of all final goods and services produced within a nation in a given year. A nation's GDP at purchasing power parity (PPP) exchange rates is the sum value of all goods and services produced in the country valued at prices prevailing in the United States in the year noted. This is the measure most economists prefer when looking at per-capita welfare and when comparing living conditions or use of resources across countries.</br></br>This entry shows GDP on a purchasing power parity basis divided by population as of 1 July for the same year.</p>
</div>

<div id="appendix-unemployment">
    <h2>Unemployment Rate</h2>
<p>This entry contains the percent of the labor force that is without jobs. Substantial underemployment might be noted.</p>
</div>

<div id="appendix-budget">
    <h2>Budget Deficit or Surplus</h2>
<p>This entry records the difference between national government revenues and expenditures, expressed as a percent of GDP. A positive (+) number indicates that revenues exceeded expenditures (a budget surplus), while a negative (-) number indicates the reverse (a budget deficit). Normalizing the data, by dividing the budget balance by GDP, enables easy comparisons across countries and indicates whether a national government saves or borrows money. Countries with high budget deficits (relative to their GDPs) generally have more difficulty raising funds to finance expenditures, than those with lower deficits.</p>
</div>

<div id="appendix-debt">
    <h2>External Debt</h2>
<p>This entry records the difference between national government revenues and expenditures, expressed as a percent of GDP. A positive (+) number indicates that revenues exceeded expenditures (a budget surplus), while a negative (-) number indicates the reverse (a budget deficit). Normalizing the data, by dividing the budget balance by GDP, enables easy comparisons across countries and indicates whether a national government saves or borrows money. Countries with high budget deficits (relative to their GDPs) generally have more difficulty raising funds to finance expenditures, than those with lower deficits.</p>
</div>

<div id="appendix-education">
    <h2>Education Expenditures</h2>
<p>This entry provides the public expenditure on education as a percent of GDP.</p>
</div>

<div id="appendix-military">
    <h2>Military Expenditures</h2>
<p>This entry gives spending on defense programs for the most recent year available as a percent of gross domestic product (GDP); the GDP is calculated on an exchange rate basis, i.e., not in terms of purchasing power parity (PPP). For countries with no military forces, this figure can include expenditures on public security and police.</p>
</div>

<div id="appendix-area">
    <h2>Area</h2>
<p>This entry includes three subfields. Total area is the sum of all land and water areas delimited by international boundaries and/or coastlines. Land area is the aggregate of all surfaces delimited by international boundaries and/or coastlines, excluding inland water bodies (lakes, reservoirs, rivers). Water area is the sum of the surfaces of all inland water bodies, such as lakes, reservoirs, or rivers, as delimited by international boundaries and/or coastlines.</p>
</div>

<div id="appendix-fossil">
    <h2>Electricity from Fossil Fuels</h2>
<p>This entry measures the capacity of plants that generate electricity by burning fossil fuels (such as coal, petroleum products, and natural gas), expressed as a share of the country's total generating capacity.</p>
</div>

<div id="appendix-airports">
    <h2>Airports</h2>
<p>This entry gives the total number of airports or airfields recognizable from the air. The runway(s) may be paved (concrete or asphalt surfaces) or unpaved (grass, earth, sand, or gravel surfaces) and may include closed or abandoned installations. Airports or airfields that are no longer recognizable (overgrown, no facilities, etc.) are not included. Note that not all airports have accommodations for refueling, maintenance, or air traffic control.</p>
</div>

<div id="appendix-internet">
    <h2>Internet Users - Percent of Population</h2>
<p>This entry takes into account all individuals within a country who can access the Internet at home, via any device type (computer or mobile) and connection. The percent of population with Internet access (i.e., the penetration rate) helps gauge how widespread Internet use is within a country. Statistics vary from country to country and may include users who access the Internet at least several times a week to those who access it only once within a period of several months.</p>
</div>

</div>
</div>


<ul class="nav nav-tabs" id="ranking-tabs">
  <li role="presentation" class="active"><a href="#People" data-toggle="tab">People</a></li>
  <li role="presentation"><a href="#Economy" data-toggle="tab">Economy</a></li>
  <li role="presentation"><a href="#Energy" data-toggle="tab">Energy and Communication</a></li>
</ul>

<section class="tab-content">
 
 <article class="tab-pane active" id="People">
  <div class="row">
    <div class="col-md-12" id="nation-table">
  <div ng-controller="NationsController as nationCtrl">
    
  <form class="nation-search" role="search">
    <div class="form-group" id="rankings-search">
     <input type="text" class="form-control" placeholder="Search for a nation or territory" ng-model="terms">
   </div>
  </form>
 
  <table class="table">
    <thead id="head">
      <tr>
        <th><button class="btn btn-default btn-sm header" ng-click="nationCtrl.sort('name')">Name</button></th>
        <th><button class="btn btn-default btn-sm header" id="population-info" ng-click="nationCtrl.sort('population')">Population</button></th>
        <th><button class="btn btn-default btn-sm header" id="pop-growth-info" ng-click="nationCtrl.sort('popGrowth')">Population Growth</button></th>
        <th><button class="btn btn-default btn-sm header" id="migration-info" ng-click="nationCtrl.sort('migration')">Migration Rate</button></th>
        <th><button class="btn btn-default btn-sm header" id="infant-info" ng-click="nationCtrl.sort('infantMortality')">Infant Mortality Rate</button></th>
        <th><button class="btn btn-default btn-sm header" id="life-info" ng-click="nationCtrl.sort('lifeExpectancy')">Life Expectancy</button></th>
        <th><button class="btn btn-default btn-sm header" id="obesity-info" ng-click="nationCtrl.sort('obesity')">Obesity Rate</button></th>

      </tr>
    </thead>
    <tbody ng-repeat="nation in nationCtrl.nations | filter:terms | orderBy:nationCtrl.sortProperty:nationCtrl.reverseSort">
      <tr>
        <td>{{nation.name}}</td>
        <td>{{nation.population}}</td>
        <td>{{nation.popGrowth}}</td>
        <td>{{nation.migration}}</td>
        <td>{{nation.infantMortality}}</td>
        <td>{{nation.lifeExpectancy}}</td>
        <td>{{nation.obesity}}</td>
      </tr>
  </table>
 </article>
 
  <article class="tab-pane" id="Economy">
<div class="row">
    <div class="col-md-12" id="nation-table">
<div ng-controller="NationsController as nationCtrl">
    
 <form class="nation-search" role="search">
    <div class="form-group" id="rankings-search">
     <input type="text" class="form-control" placeholder="Search for a nation or territory" ng-model="terms">
   </div>
</form>
 
  <table class="table">
    <thead id="head">
      <tr>
        <th><button class="btn btn-default btn-sm" ng-click="nationCtrl.sort('name')">Name</button></th>
        <th><button class="btn btn-default btn-sm" id="GDP-info" ng-click="nationCtrl.sort('perCapitaGdp')">Per Capita GDP</button></th>
        <th><button class="btn btn-default btn-sm" id="unemployment-info" ng-click="nationCtrl.sort('unemployment')">Unemployment Rate</button></th>
        <th><button class="btn btn-default btn-sm" id="budget-info" ng-click="nationCtrl.sort('budget')">Budget Deficit or Surplus</button></th>
        <th><button class="btn btn-default btn-sm" id="debt-info" ng-click="nationCtrl.sort('debt')">External Debt</button></th>
        <th><button class="btn btn-default btn-sm" id="education-info" ng-click="nationCtrl.sort('education')">Education Expenditures</button></th>
        <th><button class="btn btn-default btn-sm" id="military-info" ng-click="nationCtrl.sort('military')">Military Expenditures</button></th>

      </tr>
    </thead>
    <tbody ng-repeat="nation in nationCtrl.nations | filter:terms | orderBy:nationCtrl.sortProperty:nationCtrl.reverseSort">
      <tr>
        <td>{{nation.name}}</td>
        <td>{{nation.perCapitaGdp}}</td>
        <td>{{nation.unemployment}}</td>
        <td>{{nation.budget}}</td>
        <td>{{nation.debt}}</td>
        <td>{{nation.education}}</td>
        <td>{{nation.military}}</td>
      </tr>
  </table>
 </article>
  
    <article class="tab-pane" id="Energy">
<div class="row">
    <div class="col-md-12" id="nation-table">
<div ng-controller="NationsController as nationCtrl">
    
 <form class="nation-search" role="search">
    <div class="form-group" id="rankings-search">
     <input type="text" class="form-control" placeholder="Search for a nation or territory" ng-model="terms">
   </div>
</form>
 
 <table class="table">
    <thead id="head">
      <tr>
        <th><button class="btn btn-default btn-sm" ng-click="nationCtrl.sort('name')">Name</button></th>
        <th><button class="btn btn-default btn-sm" id="area-info" ng-click="nationCtrl.sort('area')">Area</button></th>
        <th><button class="btn btn-default btn-sm" id="fossil-info" ng-click="nationCtrl.sort('fossilFuels')">Fossil Fuels</button></th>
        <th><button class="btn btn-default btn-sm" id="airports-info" ng-click="nationCtrl.sort('airports')">Airports</button></th>
        <th><button class="btn btn-default btn-sm" id="internet-info" ng-click="nationCtrl.sort('internet')">Internet Users</button></th>
      </tr>
    </thead>
    <tbody ng-repeat="nation in nationCtrl.nations | filter:terms | orderBy:nationCtrl.sortProperty:nationCtrl.reverseSort">
      <tr>
        <td>{{nation.name}}</td>
        <td>{{nation.area}}</td>
        <td>{{nation.fossilFuels}}</td>
        <td>{{nation.airports}}</td>
        <td>{{nation.internet}}</td>
      </tr>
  </table>
 </article>
 
</div>
</div>
</div>
</section>
    


</container>

<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<script type="text/javascript" src="js/table-headers.js"></script>
 <script type="text/javascript" src="js/angular.js"></script>
 <script type="text/javascript" src="js/app.js"></script>
 <script type="text/javascript" src="js/nations.js"></script>
 <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>


    </body>
</html>