<html>
    <head>
          <title>583 Final Project</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="css/styles.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>

<body ng-app="myApp" ng-controller="BaseController as base">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://www.cia.gov/library/publications/the-world-factbook/" target="_blank">CIA World Factbook</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Scatterplot</a></li>
        <li class="active"><a href="/rankings">Rankings</a></li>
        <li><a href="/territories">Territories</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a>About</a></li>
      </ul>
    </div>
  </div>
</nav>

<container>
<div class="row">
 <div class="col-xs-12" id="rankings-header">
 <div id="rankings-intro-section">
 <h2>Rankings by Category</h2>
 <p id="rankings-introduction">This table shows how the nations and territories rank in various categories, such as infant mortality rate and internet use. Hover over the column headings for an explanation of each category, and click the buttons to sort the data.</p>
 </div>
<div id="appendix-population">
 <h2>Population</h2>
<p>This World Factbook entry gives an estimate from the US Bureau of the Census based on statistics from population censuses, vital statistics registration systems, or sample surveys pertaining to the recent past and on assumptions about future trends. The total population presents one overall measure of the potential impact of the country on the world and within its region.</p>
</div>
<div id="appendix-pop-growth">
    <h2>Population Growth</h2>
<p>The average annual percent change in the population, resulting from a surplus (or deficit) of births over deaths and the balance of migrants entering and leaving a country. The rate may be positive or negative. The growth rate is a factor in determining how great a burden would be imposed on a country by the changing needs of its people for infrastructure (e.g., schools, hospitals, housing, roads), resources (e.g., food, water, electricity), and jobs. Rapid population growth can be seen as threatening by neighboring countries.</p>
</div>
<div id="appendix-migration">
    <h2>Net Migration Rate</h2>
<p>This entry includes the figure for the difference between the number of persons entering and leaving a country during the year per 1,000 persons (based on midyear population). An excess of persons entering the country is referred to as net immigration (e.g., 3.56 migrants/1,000 population); an excess of persons leaving the country as net emigration (e.g., -9.26 migrants/1,000 population). The net migration rate indicates the contribution of migration to the overall level of population change. The net migration rate does not distinguish between economic migrants, refugees, and other types of migrants nor does it distinguish between lawful migrants and undocumented migrants.</p>
</div>
</div>
</div>


<ul class="nav nav-tabs" id="ranking-tabs">
  <li role="presentation" class="active"><a href="#People" data-toggle="tab">People</a></li>
  <li role="presentation"><a href="#Economy" data-toggle="tab">Economy</a></li>
  <li role="presentation"><a href="#Energy" data-toggle="tab">Energy and Communication</a></li>
</ul>

<section class="tab-content">
 
 <article class="tab-pane active" id="People">
  <div class="row">
    <div class="col-md-12" id="nation-table">
  <div ng-controller="NationsController as nationCtrl">
    
  <form class="nation-search" role="search">
    <div class="form-group" id="rankings-search">
     <input type="text" class="form-control" placeholder="Search for a nation or territory" ng-model="terms">
   </div>
  </form>
 
  <table class="table">
    <thead id="head">
      <tr>
        <th><button class="btn btn-default btn-sm header" ng-click="nationCtrl.sort('name')">Name</button></th>
        <th><button class="btn btn-default btn-sm header" id="population-info" ng-click="nationCtrl.sort('population')">Population</button></th>
        <th><button class="btn btn-default btn-sm header" id="pop-growth-info" ng-click="nationCtrl.sort('popGrowth')">Population Growth</button></th>
        <th><button class="btn btn-default btn-sm header" id="migration-info" ng-click="nationCtrl.sort('migration')">Migration Rate</button></th>
        <th><button class="btn btn-default btn-sm header" ng-click="nationCtrl.sort('infantMortality')">Infant Mortality Rate</button></th>
        <th><button class="btn btn-default btn-sm header" ng-click="nationCtrl.sort('lifeExpectancy')">Life Expectancy</button></th>
        <th><button class="btn btn-default btn-sm header" ng-click="nationCtrl.sort('obesity')">Obesity Rate</button></th>

      </tr>
    </thead>
    <tbody ng-repeat="nation in nationCtrl.nations | filter:terms | orderBy:nationCtrl.sortProperty:nationCtrl.reverseSort">
      <tr>
        <td>{{nation.name}}</td>
        <td>{{nation.population}}</td>
        <td>{{nation.popGrowth}}</td>
        <td>{{nation.migration}}</td>
        <td>{{nation.infantMortality}}</td>
        <td>{{nation.lifeExpectancy}}</td>
        <td>{{nation.obesity}}</td>
      </tr>
  </table>
 </article>
 
  <article class="tab-pane" id="Economy">
<div class="row">
    <div class="col-md-12" id="nation-table">
<div ng-controller="NationsController as nationCtrl">
    
 <form class="nation-search" role="search">
    <div class="form-group" id="rankings-search">
     <input type="text" class="form-control" placeholder="Search for a nation or territory" ng-model="terms">
   </div>
</form>
 
  <table class="table">
    <thead id="head">
      <tr>
        <th><button class="btn btn-default btn-sm" ng-click="nationCtrl.sort('name')">Name</button></th>
        <th><button class="btn btn-default btn-sm" ng-click="nationCtrl.sort('perCapitaGdp')">Per Capita GDP</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('unemployment')">Unemployment Rate</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('budget')">Budget Deficit or Surplus</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('debt')">External Debt</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('education')">Education Expenditures</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('military')">Military Expenditures</button></th>

      </tr>
    </thead>
    <tbody ng-repeat="nation in nationCtrl.nations | filter:terms | orderBy:nationCtrl.sortProperty:nationCtrl.reverseSort">
      <tr>
        <td>{{nation.name}}</td>
        <td>{{nation.perCapitaGDP}}</td>
        <td>{{nation.unemployment}}</td>
        <td>{{nation.budget}}</td>
        <td>{{nation.debt}}</td>
        <td>{{nation.education}}</td>
        <td>{{nation.military}}</td>
      </tr>
  </table>
 </article>
  
    <article class="tab-pane" id="Energy">
<div class="row">
    <div class="col-md-12" id="nation-table">
<div ng-controller="NationsController as nationCtrl">
    
 <form class="nation-search" role="search">
    <div class="form-group" id="rankings-search">
     <input type="text" class="form-control" placeholder="Search for a nation or territory" ng-model="terms">
   </div>
</form>
 
 <table class="table">
    <thead id="head">
      <tr>
        <th><button class="btn btn-default btn-sm" ng-click="nationCtrl.sort('name')">Name</button></th>
        <th><button class="btn btn-default btn-sm" ng-click="nationCtrl.sort('area')">Area</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('fossilFuels')">Fossil Fuels</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('airports')">Airports</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('internet')">Internet Users</button></th>
      </tr>
    </thead>
    <tbody ng-repeat="nation in nationCtrl.nations | filter:terms | orderBy:nationCtrl.sortProperty:nationCtrl.reverseSort">
      <tr>
        <td>{{nation.name}}</td>
        <td>{{nation.area}}</td>
        <td>{{nation.fossilFuels}}</td>
        <td>{{nation.airports}}</td>
        <td>{{nation.internet}}</td>
      </tr>
  </table>
 </article>
 
</div>
</div>
</div>
</section>
    


</container>

<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<script type="text/javascript" src="js/table-headers.js"></script>
 <script type="text/javascript" src="js/angular.js"></script>
 <script type="text/javascript" src="js/app.js"></script>
 <script type="text/javascript" src="js/nations.js"></script>
 <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>


    </body>
</html>