<html>
    <head>
          <title>583 Final Project</title>

<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/styles.css" />
 <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    </head>

<body ng-app="myApp" ng-controller="BaseController as base">

<container>
 <h1>CIA World Factbook Rankings by Category</h1>


<div class="row">
    <div class="col-md-12" id="nation-table">
<div ng-controller="NationsController as nationCtrl">
    
 <form class="nation-search" role="search">
    <div class="form-group">
     <input type="text" class="form-control" placeholder="Search for a nation or territory" ng-model="terms">
   </div>
</form>
 
 <table class="table">
    <thead id="head">
      <tr>
        <th><button class="btn btn-default btn-sm" ng-click="nationCtrl.sort('name')">Name</button></th>
        <th><button class="btn btn-default btn-sm" ng-click="nationCtrl.sort('population')">Pop.</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('popGrowth')">Pop.Growth</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('perCapitaGdp')">GDP</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('migration')">Migration</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('infantMortality')">Infant</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('lifeExpectancy')">Life</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('healthExpenditures')">Health</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="nationCtrl.sort('obesity')">Obesity</button></th>

      </tr>
    </thead>
    <tbody ng-repeat="nation in nationCtrl.nations | filter:terms | orderBy:nationCtrl.sortProperty:nationCtrl.reverseSort">
      <tr>
        <td>{{nation.name}}</td>
        <td>{{nation.population}}</td>
        <td>{{nation.popGrowth}}</td>
        <td>{{nation.perCapitaGdp}}</td>
        <td>{{nation.migration}}</td>
        <td>{{nation.infantMortality}}</td>
        <td>{{nation.lifeExpectancy}}</td>
        <td>{{nation.healthExpenditures}}</td>
        <td>{{nation.obesity}}</td>
      </tr>
  </table>
</div>
</div>
</div>
    


</container>
 <script type="text/javascript" src="js/angular.js"></script>
 <script type="text/javascript" src="js/app.js"></script>
 <script type="text/javascript" src="js/nations.js"></script>
 <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>


    </body>
</html>