<html>
    <head>
          <title>583 Final Project</title>

<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/styles.css" />
 <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    </head>


<container>
 <h1>Territories</h1>
 
    
<div class="row">
    <div class="col-xs-12">
  <div id="force"></div>  
</div>
</div>



</container>

 <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/force.js"></script>

    </body>
</html>