<html>
    <head>
          <title>583 Final Project</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="css/styles.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">The CIA Data Vis Project</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Scatterplot</a></li>
        <li class="active"><a href="/territories">Territories</a></li>
          <li><a href="/rankings">Rankings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a>About</a></li>
      </ul>
    </div>
  </div>
</nav>


<container>
   
<div class="row">
   <div class="col-xs-12 col-md-8">
  <div id="force"></div>  
</div>
 <div class="col-xs-12 col-md-4 chart-description">
  <div id="territories-intro">
  <h2>The Footprint of the British Empire</h2>
  <p>There are currently 59 dependent territories in the world, controlled by just nine countries. And three of those nine countries were, in turn, once ruled by another nation, the United Kingdom. The size of each circle in this chart is a function of its per capita GDP; in short, the wealthier the citizens, the larger the bubble. Hover over the graphic to learn more, and drag the circles as needed.</p>
  </div>
 </div>
</div>



</container>

 <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/force.js"></script>

    </body>
</html>