
/*Make responsive containers for the SVG canvases*/
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/*SCATTERPLOT STYLING*/


/*Style the axes and dots*/
.axis path,.axis line {
  fill: none;
  stroke: #404040;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #595959;
  stroke-width:1px;
}

#scatterplot-dropdown{
  margin-top:5%;
}

/*Hide the mobile introduction section on desktop, and vice versa*/
@media screen and (min-width: 436px) and (max-width: 2000px) {
    #mobile-intro {
      display:none;
      
    }
}

@media screen and (max-width: 435px) {
    #scatterplot-intro, #mobile-close-button {
      display:none;
    }
}

@media screen and (max-width: 435px) {
    #scatterplot-intro, #mobile-close-button {
      display:none;
    }
}

/*Move the introduction text up when the user clicks the About button on mobile*/
@media screen and (max-width: 435px) {
    .selected {
      position:absolute;
      bottom:100%;
      padding:5%;
    }
}

/*THE 'TERRITORIES' PAGE*/

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.menu-1, .menu-2, #submit{
  display:inline-block;
}

.chart-description{
  padding-right:5%;
  padding-left:5%;
}


/*THE RAKNINGS TABLE*/

#rankings-header{
  margin-left:5%;
  padding-right:10%;
  height:26%;
  font-size:1.1em;
}

#nation-table {
    margin-left:5%;
    margin-right:10%;
}

/*Show a different intro section for mobile, because the hover features are disabled on mobile*/
@media screen and (min-width: 436px) and (max-width: 2000px) {
    #rankings-introduction-mobile {
      display:none;
    }
}

@media screen and (min-width: 0px) and (max-width: 435px) {
    #rankings-introduction {
      display:none;
    }
}

#rankings-search{
  float:right;
  margin-top:2%;
  width:25%;
}

@media screen and (min-width: 0px) and (max-width: 435px) {
    #rankings-search {
      float:left;
      width:80%;
    }
}

/*Make the table horizontally scrollable, but keep the rest of the page in place*/
section {
  width:100%;
  overflow-x:auto;
}

#nation-table{
  padding-right:10%;
}

#ranking-tabs{
  margin-left:5%;
}

/*Hide the appendix entries until the user hovers over the column buttons*/
#appendix-population, #appendix-pop-growth, #appendix-migration, #appendix-infant, #appendix-life, #appendix-obesity, #appendix-GDP, #appendix-unemployment, #appendix-budget, #appendix-debt, #appendix-education, #appendix-military, #appendix-area, #appendix-fossil, #appendix-airports, #appendix-internet {
  display:none;
}

@media screen and (min-width: 0px) and (max-width: 435px) {
    #table-content {
      zoom:80%;
      margin-top:10%;
    }
}

@media screen and (min-width: 0px) and (max-width: 435px) {
    #appendix-population, #appendix-pop-growth, #appendix-migration, #appendix-infant, #appendix-life, #appendix-obesity, #appendix-GDP, #appendix-unemployment, #appendix-budget, #appendix-debt, #appendix-education, #appendix-military, #appendix-area, #appendix-fossil, #appendix-airports, #appendix-internet{
      opacity:0;
    }
}

/*THE 'TERRITORIES' FORCE LAYOUT CHART*/

.tooltip{
  margin:2%;
}

@media screen and (max-width: 435px) {
    .tooltip {
      top:65% !important;
      left:10% !important;
    }
}

.map{
 float:left;
 padding-right:10px;
}

/*Hide the tooltip maps and summary paragraphs on mobile*/
@media screen and (max-width: 435px) {
    .map, .tooltip-text {
      display:none;
    }
}

@media screen and (max-width: 435px) {
    .chart-description{
      width:95%;
      margin-left:2%;
    }
}

#territories-intro {
  font-size:1.1em;
}

.tooltip-text{
    font-size:1.2em;
}


