/*body{
    background:#dddddd;
}*/

.axis path,.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

#nation-table {
    margin-left:5%;
    margin-right:10%;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.menu-1, .menu-2, #submit{
  display:inline-block;
}

#submit-button{
  background:#eeeeee;
  border-radius:5px;
  width:50px;
  height:25px;
  font-size:0.9em;
  box-shadow:none !important;
}

#rankings-header{
  margin-left:5%;
  padding-right:10%;
}

#rankings-search{
  float:right;
  margin-top:10px;
  width:25%;
}

#nation-table{
  padding-right:10%;
}

#ranking-tabs{
  margin-left:5%;
}

#appendix-population{
  display:none;
}
