/*body{
    background:#dddddd;
}*/

.axis path,.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

#nation-table {
    margin-left:5%;
    margin-right:10%;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.menu-1, .menu-2, #submit{
  display:inline-block;
}

.chart-description{
  padding-right:5%;
}

#scatterplot-dropdown{
  margin-top:5%;
}

#rankings-header{
  margin-left:5%;
  padding-right:10%;
  height:26%;
}


#rankings-search{
  float:right;
  margin-top:2%;
  width:25%;
}

#nation-table{
  padding-right:10%;
}

#ranking-tabs{
  margin-left:5%;
}

#appendix-population, #appendix-pop-growth, #appendix-migration, #appendix-infant, #appendix-life, #appendix-obesity, #appendix-GDP, #appendix-unemployment, #appendix-budget, #appendix-debt, #appendix-education, #appendix-military, #appendix-area, #appendix-fossil, #appendix-airports, #appendix-internet {
  display:none;
}



.map{
 float:left;
 padding-right:10px;
}

.summary{
  margin:2%;
}
